<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter"><span class="oi oi-plus" aria-hidden="true"></span> Counter</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="after-render"><span class="oi oi-plus" aria-hidden="true"></span>after-render</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="attribute-order-parent-1"><span class="oi oi-plus" aria-hidden="true"></span>attribute-order-parent-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="attribute-order-parent-2"><span class="oi oi-plus" aria-hidden="true"></span>attribute-order-parent-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="background-work"><span class="oi oi-plus" aria-hidden="true"></span>background-work</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="bind"><span class="oi oi-plus" aria-hidden="true"></span>bind</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="bind-event"><span class="oi oi-plus" aria-hidden="true"></span>bind-event</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="bind-theory"><span class="oi oi-plus" aria-hidden="true"></span>bind-theory</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="blazor-rocks"><span class="oi oi-plus" aria-hidden="true"></span>blazor-rocks</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="blazor-route"><span class="oi oi-plus" aria-hidden="true"></span>blazor-route</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="different-blazor-route"><span class="oi oi-plus" aria-hidden="true"></span>different-blazor-route</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="built-content"><span class="oi oi-plus" aria-hidden="true"></span>built-content</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-dotnet-example-1"><span class="oi oi-plus" aria-hidden="true"></span>call-dotnet-example-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-dotnet-example-2"><span class="oi oi-plus" aria-hidden="true"></span>call-dotnet-example-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-dotnet-example-3"><span class="oi oi-plus" aria-hidden="true"></span>call-dotnet-example-3</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-dotnet-example-4"><span class="oi oi-plus" aria-hidden="true"></span>call-dotnet-example-4</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-dotnet-example-5"><span class="oi oi-plus" aria-hidden="true"></span>call-dotnet-example-5</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-dotnet-example-6"><span class="oi oi-plus" aria-hidden="true"></span>call-dotnet-example-6</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-dotnet-example-7"><span class="oi oi-plus" aria-hidden="true"></span>call-dotnet-example-7</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-1"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-11"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-11</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-2"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-3"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-3</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-4"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-4</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-5"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-5</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-6"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-6</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-7"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-7</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="call-js-example-8"><span class="oi oi-plus" aria-hidden="true"></span>call-js-example-8</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="catch-all/"><span class="oi oi-plus" aria-hidden="true"></span>catch-all</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="conditional-attribute"><span class="oi oi-plus" aria-hidden="true"></span>conditional-attribute</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="control-head-content"><span class="oi oi-plus" aria-hidden="true"></span>control-head-content</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="control-render"><span class="oi oi-plus" aria-hidden="true"></span>control-render</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter"><span class="oi oi-plus" aria-hidden="true"></span>counter</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter-1"><span class="oi oi-plus" aria-hidden="true"></span>counter-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter-2"><span class="oi oi-plus" aria-hidden="true"></span>counter-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter-partial-class"><span class="oi oi-plus" aria-hidden="true"></span>counter-partial-class</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter-state-1"><span class="oi oi-plus" aria-hidden="true"></span>counter-state-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter-state-2"><span class="oi oi-plus" aria-hidden="true"></span>counter-state-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter-with-timer-disposal-1"><span class="oi oi-plus" aria-hidden="true"></span>counter-with-timer-disposal-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="counter-with-timer-disposal-2"><span class="oi oi-plus" aria-hidden="true"></span>counter-with-timer-disposal-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="customer-list"><span class="oi oi-plus" aria-hidden="true"></span>customer-list</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="date-binding"><span class="oi oi-plus" aria-hidden="true"></span>date-binding</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="decimal-binding"><span class="oi oi-plus" aria-hidden="true"></span>decimal-binding</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="dynamiccomponent-example-1"><span class="oi oi-plus" aria-hidden="true"></span>dynamiccomponent-example-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="dynamiccomponent-example-2"><span class="oi oi-plus" aria-hidden="true"></span>dynamiccomponent-example-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="episodes"><span class="oi oi-plus" aria-hidden="true"></span>episodes</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-1"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-2"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-3"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-3</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-4"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-4</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-5"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-5</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-6"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-6</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-7"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-7</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="event-handler-example-8"><span class="oi oi-plus" aria-hidden="true"></span>event-handler-example-8</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="example/"><span class="oi oi-plus" aria-hidden="true"></span>example/{param?}</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="expander-example"><span class="oi oi-plus" aria-hidden="true"></span>expander-example</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="fetchdata"><span class="oi oi-plus" aria-hidden="true"></span>fetchdata</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="file-download-1"><span class="oi oi-plus" aria-hidden="true"></span>file-download-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="file-download-2"><span class="oi oi-plus" aria-hidden="true"></span>file-download-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="file-upload-1"><span class="oi oi-plus" aria-hidden="true"></span>file-upload-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="file-upload-2"><span class="oi oi-plus" aria-hidden="true"></span>file-upload-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="file-upload-3"><span class="oi oi-plus" aria-hidden="true"></span>file-upload-3</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-1"><span class="oi oi-plus" aria-hidden="true"></span>form-example-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-2"><span class="oi oi-plus" aria-hidden="true"></span>form-example-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-3"><span class="oi oi-plus" aria-hidden="true"></span>form-example-3</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-4"><span class="oi oi-plus" aria-hidden="true"></span>form-example-4</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-5"><span class="oi oi-plus" aria-hidden="true"></span>form-example-5</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-7"><span class="oi oi-plus" aria-hidden="true"></span>form-example-7</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-8"><span class="oi oi-plus" aria-hidden="true"></span>form-example-8</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="form-example-9"><span class="oi oi-plus" aria-hidden="true"></span>form-example-9</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="heading-example"><span class="oi oi-plus" aria-hidden="true"></span>heading-example</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="hello-world"><span class="oi oi-plus" aria-hidden="true"></span>hello-world</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href=""><span class="oi oi-plus" aria-hidden="true"></span></NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="markup"><span class="oi oi-plus" aria-hidden="true"></span>markup</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="markup-string-example"><span class="oi oi-plus" aria-hidden="true"></span>markup-string-example</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="navigate"><span class="oi oi-plus" aria-hidden="true"></span>navigate</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="on-init"><span class="oi oi-plus" aria-hidden="true"></span>on-init</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="on-params-set"><span class="oi oi-plus" aria-hidden="true"></span>on-params-set</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="on-params-set/2022-12-12"><span class="oi oi-plus" aria-hidden="true"></span>on-params-set/{StartDate:datetime}</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="parameter-parent"><span class="oi oi-plus" aria-hidden="true"></span>parameter-parent</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="parameter-parent-2"><span class="oi oi-plus" aria-hidden="true"></span>parameter-parent-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="parameter-parent-3"><span class="oi oi-plus" aria-hidden="true"></span>parameter-parent-3</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="parent"><span class="oi oi-plus" aria-hidden="true"></span>parent</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="parent-1"><span class="oi oi-plus" aria-hidden="true"></span>parent-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="parent-2"><span class="oi oi-plus" aria-hidden="true"></span>parent-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="password-binding"><span class="oi oi-plus" aria-hidden="true"></span>password-binding</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="people-example"><span class="oi oi-plus" aria-hidden="true"></span>people-example</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="pets1"><span class="oi oi-plus" aria-hidden="true"></span>pets1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="pets2"><span class="oi oi-plus" aria-hidden="true"></span>pets2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="pets3"><span class="oi oi-plus" aria-hidden="true"></span>pets3</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="pets4"><span class="oi oi-plus" aria-hidden="true"></span>pets4</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="prerendered-interop-1"><span class="oi oi-plus" aria-hidden="true"></span>prerendered-interop-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="prerendered-interop-2"><span class="oi oi-plus" aria-hidden="true"></span>prerendered-interop-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="product-details/1"><span class="oi oi-plus" aria-hidden="true"></span>product-details/{ProductId:int}</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="razor-template"><span class="oi oi-plus" aria-hidden="true"></span>razor-template</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="receive-notifications"><span class="oi oi-plus" aria-hidden="true"></span>receive-notifications</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="reference-parent-1"><span class="oi oi-plus" aria-hidden="true"></span>reference-parent-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="reference-parent-2"><span class="oi oi-plus" aria-hidden="true"></span>reference-parent-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="render-fragment-parent"><span class="oi oi-plus" aria-hidden="true"></span>render-fragment-parent</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="route-parameter/"><span class="oi oi-plus" aria-hidden="true"></span>route-parameter/{text?}</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="route-parameter-1/text"><span class="oi oi-plus" aria-hidden="true"></span>route-parameter-1/{text}</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="route-parameter-2/"><span class="oi oi-plus" aria-hidden="true"></span>route-parameter-2/{text?}</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="set-params-async/"><span class="oi oi-plus" aria-hidden="true"></span>set-params-async/{Param?}</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="show-image-1"><span class="oi oi-plus" aria-hidden="true"></span>show-image-1</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="show-image-2"><span class="oi oi-plus" aria-hidden="true"></span>show-image-2</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="splat"><span class="oi oi-plus" aria-hidden="true"></span>splat</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="todo"><span class="oi oi-plus" aria-hidden="true"></span>todo</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="unparseable-values"><span class="oi oi-plus" aria-hidden="true"></span>unparseable-values</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="user/1"><span class="oi oi-plus" aria-hidden="true"></span>user/1</NavLink></div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
